@import 'open-color';

$font: 'Roboto', sans-serif;

body, html {
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  font-family: $font;
}

body {
  background-color: $oc-gray-0;
  transition: background-color 0.25s;
  &.dark {
    background-color: $oc-gray-8;
  }
}

.switchtheme {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

@import 'parts/button';
